.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px 5%;
    background-color: white;
    background-image: url('/img/guidebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: inherit;
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }

  .active {
    color: #28a745;
    font-weight: bold;
}
.logo {
    background-image: url('/img/logohyracap.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
    position: relative;
    background-color: transparent;
}

.logoButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }





.link {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease;

}

.link:hover {
    color: #28a745;
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 3%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.hero {

    color: white;
    padding: 80px 0;
    text-align: left; 
  }
  
.hero::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: inherit;
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}
.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.searchInput {
  flex: 1;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  outline: none;
}

.searchButton {
  background-color: transparent;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}

.searchButton img {
  width: 20px;
  height: 20px;
}
  
  .heroContent h1 {
    margin-top: 12vh;
    max-width: 50vw;
    font-family: Inter, sans-serif;
    font-size: clamp(2.5rem, 2vw, 3rem);
    /* margin-bottom: 20px; */
  }
  
  .heroContent p {
    line-height: 1.5;
    max-width: 38vw;
    font-family: Inter, sans-serif;
    font-size: clamp(1.5rem, 2vw, 2rem);
    /* margin-bottom: 30px; */
  }
  
  .ctaButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color: #45a049;
  }

  .contentContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .sidebar {
    width: 23vw;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: #8A8A8A;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    padding-left: 5vw;

  }
  
  .sidebar a:hover {
    color: #28a745;
  }
  
  .mainContent {
    flex: 1;
    padding-left: 5vw;
  }

  .mainContent h1 {
    font-family: Inter, sans-serif;
    font-size: 2em;
    margin-bottom: 10vh;
    color: #03A638;
  } 

  .mainContent ul  .mainContent li .mainContent p{
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    color: #000;
    text-align: left;
    /* padding-left: 15vw; */
  }
  
  .mainContent h2 {
    font-family: Inter, sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #000;
    text-align: left;
    padding-left: 15vw;
  } 
  
  .videoContainer {
    /* display: flex;
    flex-direction: column; */
    margin-top: 10vh;
    align-items: center;
    margin-bottom: 20px;
    width: 50vw;
    height: 60vh;
  }

  .videoWrapper {

    position: relative;
    padding-bottom: 56.25%; /* Tỷ lệ 16:9 */
    /* padding-left: 5vw; */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .videoTitle {
    padding-left: 5vw;
    font-family: Inter, sans-serif;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center;
}
  
  .videoWrapper iframe {
    padding-left: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .imageContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px; /* Tạo khoảng cách giữa các ảnh */
    padding-left: 3vw;
  } 
  
  .imageContainer img {
    width: 30%;
    max-width: 300px;
    margin-bottom: 15px;
  }
  .conclusion {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }

  .downloadSection {
    background: linear-gradient(175.74deg, #78CA94 3.66%, #2A7082 96.76%);
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
}

.downloadSection h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.downloadSection p {
    font-size: 18px;
    margin-bottom: 20px;
}

.qrContainer {
    margin-bottom: 20px;
}

.qrCode {
    width: 150px;
    height: 150px;
}

.storeButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.storeButton {
    display: flex;
    align-items: center;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.storeButton img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}