version: '3.8'

services:
  # Next.js app service
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
    restart: always
    volumes:
      - .:/app
