.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: white;
  background-image: url('/img/aboutbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: inherit;
  background-repeat: inherit;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.9);
  filter: blur(5px);
  z-index: 1;
}

.logo {
  background-image: url('/img/logohyracap.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 30px;
  position: relative;
  background-color: transparent;
}

.logoButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.link {
  margin-right: 5px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #28a745;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 3%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
  /* background-image: url('/path-to-your-background-image.jpg'); */
  /* background-size: cover;
    background-position: center;*/
  color: white;
  padding: 80px 0;
  text-align: left;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: inherit;
  background-repeat: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}
.heroContent {
  margin: 0 auto;
  padding: 0 20px;
}

.heroContent h1 {
  max-width: 30vw;
  font-family:
    Noto Sans,
    sans-serif;
  font-size: clamp(1rem, 3vw, 3rem);
  /* margin-bottom: 20px; */
}

.heroContent p {
  line-height: 1.5;
  max-width: 63vw;
  font-family:
    Noto Sans,
    sans-serif;
  font-size: clamp(1.2rem, 2vw, 2rem);
  /* margin-bottom: 30px; */
}

/* Thêm phần content bên dưới */
.content {
  text-align: left;
  color: #1f1f1f;
  z-index: 10; /* Đảm bảo phần content hiển thị trên logo */
}

.content h1 {
  position: absolute;
  top: 43%;
  left: 10%;
  font-size: 4em;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  margin: 0; /* Xóa margin mặc định */
}

.content p {
  position: absolute;
  top: 65%;
  left: 10%;
  right: 20%;
  margin-top: 10px;
  font-size: 1.5em;
  line-height: 1.6;
  font-family: 'Noto Sans', sans-serif;
  /*margin: 0; !* Xóa margin mặc định *!*/
}

.content .button {
  padding: 10px 30px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content .button:hover {
  background-color: #218838;
}

.about-container {
  margin-top: 3%;
  /* padding: 2% 2%; */
  background-color: #f5f5f5;
}

.vision,
.mission {
  padding: 2% 4%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;
}

.vision {
  flex-direction: row-reverse;
}

.mission {
  flex-direction: row;
}

.textContent {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa nội dung theo chiều dọc */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung quá dài */
}

.imageContent {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContent {
  flex: 1;
  max-width: 50%;
  aspect-ratio: 1.2 / 1; /* Tạo khung hình vuông */
  overflow: hidden; /* Ẩn phần vượt quá của hình ảnh */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContent img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo hình ảnh lấp đầy khung mà không bị biến dạng */
}

.vision h2,
.mission h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.vision p,
.mission p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.bulletPoints {
  list-style-type: none;
  padding-left: 0;
}

.bulletPoints li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: clamp(1rem, 2vw, 1.7rem);
  color: #666;
}

.bulletPoints li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #a4ddb699;
  border-radius: 50%;
}

.values {
  padding: 40px 0;
  background-color: #f5f5f5;
}

.values h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.values p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.95rem;
  text-align: center;
  margin-bottom: 40px;
  color: #666;
  /* max-width: 800px; */
  margin-left: auto;
  margin-right: auto;
}

.valueGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 96%;
  /* max-width: 800px; Điều chỉnh kích thước tối đa nếu cần */
  margin: 0 auto;
}

.valueGrid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.valueGrid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.valueItem {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.valueIcon {
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
  position: relative;
  z-index: 2;
}

.valueIcon::after {
  content: '';
  position: absolute;
  width: 120px; /* Kích thước lớn hơn icon */
  height: 120px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* Đảm bảo hình tròn nằm dưới icon */
}

.valueIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 2;
}

.valueTitle {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.founder {
  background: linear-gradient(180deg, #ffffff 0%, #9ee5b5 100%);
  padding: 40px 0; /* Thay đổi padding */
  display: flex;
  align-items: center;
  width: 100vw; /* Sử dụng 100vw để lấp đầy chiều rộng màn hình */
  margin: 40px 0; /* Thay đổi margin */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 3%;
}

.founderImage {
  flex: 0 0 calc(45% - 3vw); /* Điều chỉnh kích thước để tính cả padding */
  margin: 0 3vw;
  aspect-ratio: 1 / 1; /* Tạo hình vuông */
  overflow: hidden; /* Ẩn phần thừa của ảnh */
  overflow: visible;
  position: relative;
}

.founderImage::before {
  content: '';
  position: absolute;
  top: 1vw;
  left: 1vw;
  right: -1vw;
  bottom: -1vw;
  border: 2px solid #4caf50; /* Màu xanh lá cây, bạn có thể điều chỉnh */
  border-radius: 10px;
  z-index: 1;
}

.founderImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.founderContent {
  flex: 1;
  padding: 20px;
}

.founderTitle {
  font-family: 'Noto Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-left: 5%;
}

.founderMessage {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.founderName {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;
  text-align: right;
  margin-right: 5%;
}

.promise {
  background-image: url('/img/promisebg.png'); /* Thay thế bằng đường dẫn thực tế đến hình ảnh của bạn */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
}

.promise::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Điều chỉnh độ mờ tùy ý */
}

.promiseContent {
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding: 20px;
}

.promise h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.promise p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.brandName {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.leadership {
  margin-top: 3%;
  padding: 40px 20px;
  background-color: #f0f0f0;
}

.leadership h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.leadershipGrid {
  display: flex;
  justify-content: center;
  gap: 90px 40px;
  flex-wrap: wrap;
  margin-top: 75px; /* Thêm margin-top để tạo không gian cho ảnh */
}

.leaderCard {
  background: linear-gradient(180deg, #fcfcfc 0%, #f6f6f6 52.5%, #d6d6d6 100%);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: visible; /* Thay đổi từ hidden sang visible */
  width: 100%;
  max-width: 500px;
  position: relative; /* Thêm position relative */
  padding-top: 75px; /* Thêm padding-top để tạo không gian cho ảnh */
}

.leaderImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute; /* Thay đổi thành absolute */
  top: -75px; /* Đưa ảnh lên trên */
  left: 50%;
  transform: translateX(-50%); /* Căn giữa ảnh */
  border: 5px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thêm box-shadow cho ảnh */
}

.leaderInfo {
  padding: 0 20px;
  /* padding-top: 30px; Tăng padding-top để tạo khoảng cách với ảnh */
}

.leaderInfo h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5px;
}

.leaderTitle {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.leaderInfo ul {
  list-style-type: none;
  padding-left: 0;
}

.leaderInfo li {
  padding-left: 1vw;
  position: relative;
  margin-bottom: 10px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.leaderInfo li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.5em; /* Điều chỉnh vị trí dọc của dấu chấm */
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}
.readMore {
  display: block;
  text-align: right;
  color: #4caf50;
  text-decoration: none;
  margin-top: 10px;
  padding-bottom: 20px;
}

.social .icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.social .icons a img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
}

.social .icons a:hover img {
  filter: none;
}

@media (max-width: 1200px) {
  .header {
    height: 70vh; /* Giảm chiều cao cho màn hình nhỏ hơn */
  }

  .heroContent h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem); /* Giảm kích thước chữ cho tiêu đề */
  }

  .heroContent p {
    font-size: clamp(
      0.9rem,
      1vw,
      1.5rem
    ); /* Giảm kích thước chữ cho đoạn văn */
  }

  .vision h2,
  .mission h2 .values h2 {
    font-size: clamp(1rem, 2vw, 1.8rem);
  }

  .vision p,
  .mission p {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
  .bulletPoints li {
    font-size: clamp(0.8rem, 2vw, 1.3rem);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Đổi hướng flex cho header */
    align-items: flex-start; /* Căn trái các phần tử */
  }

  .content h1 {
    /* font-size: 3em; Giảm kích thước chữ cho tiêu đề */
    position: relative; /* Đặt lại vị trí */
    top: auto; /* Đặt lại vị trí top */
    left: auto; /* Đặt lại vị trí left */
  }

  .content p {
    font-size: 1.2em; /* Giảm kích thước chữ cho đoạn văn */
  }

  .leadershipGrid {
    flex-direction: column; /* Đổi hướng flex cho leadershipGrid */
    align-items: center; /* Căn giữa các phần tử */
  }

  .founder {
    flex-direction: column;
    padding: 20px;
  }

  .founderImage {
    margin-right: 0;
    margin-bottom: 20px;
    flex: 0 0 100%;
  }
  .link {
    font-size: 12px;
  }
  .vision,
  .mission {
    flex-direction: column;
  }

  .about-container {
    padding: 20px;
  }
  .valueGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .leadershipGrid {
    flex-direction: column;
    align-items: center;
  }

  .leaderCard {
    max-width: 100%;
  }

  .promise h2 {
    font-size: 2.5rem;
  }

  .promise p {
    font-size: 1.2rem;
  }

  .brandName {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 5px 2%; /* Giảm padding cho header */
  }

  .link {
    font-size: 10px; /* Giảm kích thước chữ cho link */
  }

  .promise h2 {
    font-size: 2rem; /* Giảm kích thước chữ cho tiêu đề promise */
  }

  .promise p {
    font-size: 1rem; /* Giảm kích thước chữ cho đoạn văn promise */
  }
}
