.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
    background-image: url('/img/aboutbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: inherit;
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.9);
    filter: blur(5px);
    z-index: 1;
}

.logo {
    background-image: url('/img/logohyracap.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
    position: relative;
    background-color: transparent;
}

.logoButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.link {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #28a745;
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 3%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
    color: white;
    padding: 80px 0;
    text-align: left; 
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: inherit;
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.heroContent {
    margin: 0 auto;
    padding: 0 20px;
}

.heroContent h1 {
    max-width: 30vw;
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(1rem, 3vw, 3rem);
}

.heroContent p {
    line-height: 1.5;
    max-width: 63vw;
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(1.2rem, 2vw, 2rem);
}

.content {
    text-align: left;
    color: #1F1F1F;
    z-index: 10;
}

.content h1 {
    position: absolute;
    top: 43%;
    left: 10%;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.content p {
    position: absolute;
    top: 65%;
    left: 10%;
    right: 20%;
    margin-top: 10px;
    font-size: 1.5em;
    line-height: 1.6;
    font-family: 'Noto Sans', sans-serif;
}

.content .button {
    padding: 10px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content .button:hover {
    background-color: #218838;
}

.about-container {
    margin-top: 3%;
    background-color: #f5f5f5;
    max-width: 100%;
    overflow-x: hidden;
}

.vision,
.mission {
    padding: 2% 4%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 40px;
}

.vision {
    flex-direction: row-reverse;
}

.mission {
    flex-direction: row;
}

.textContent {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

.imageContent {
    flex: 1;
    max-width: 50%;
    aspect-ratio: 1.2 / 1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vision h2,
.mission h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.vision p,
.mission p {
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(1rem, 2vw, 1.7rem);
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.bulletPoints {
    list-style-type: none;
    padding-left: 0;
}

.bulletPoints li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(1rem, 2vw, 1.7rem);
    color: #666;
}

.bulletPoints li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: #A4DDB699;
    border-radius: 50%;
}

.values {
    padding: 40px 0;
    background-color: #f5f5f5;
}

.values h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.values p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.95rem;
    text-align: center;
    margin-bottom: 40px;
    color: #666;
    margin-left: auto;
    margin-right: auto;
}

.valueGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 96%;
    margin: 0 auto;
}

.valueGrid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.valueGrid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.valueItem {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.valueIcon {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    position: relative;
    z-index: 2;
}

.valueIcon::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.valueIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
}

.valueTitle {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.founder {
    background: linear-gradient(180deg, #ffffff 0%, #9EE5B5 100%);
    padding: 40px 0; 
    display: flex;
    align-items: center;
    width: 100vw;
    margin: 40px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 3%;
}

.founderImage {
    flex: 0 0 calc(45% - 3vw);
    margin: 0 3vw;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.founderImage::before {
    content: '';
    position: absolute;
    top: 1vw;
    left: 1vw;
    right: -1vw;
    bottom: -1vw;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    z-index: 1;
}

.founderImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.founderContent {
    flex: 1;
    padding: 20px;
}

.founderTitle {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-left: 5%;
}

.founderMessage {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.founderName {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #333;
    text-align: right;
    margin-right: 5%;
}

.promise {
    background-image: url('/img/promisebg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
}

.promise::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.promiseContent {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
}

.promise h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.promise p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.brandName {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.leadership {
    margin-top: 3%;
    /* padding: 40px 20px; */
    background-color: #f0f0f0;
}

.leadershipSection {
    /* padding: 40px 20px; */
    background-color: #08070d;
    color: #ffffff;
    /* padding-left: 3.3vw; */
}

.staffSection {
    padding: 40px 20px;
    background-color: #131219;
    color: #ffffff;
    padding-bottom: 12vh;
    padding-left: 3.3vw;
}

.leadershipSection h2,
.leadership h2,
.staffSection h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20vh;
}

.leadershipGrid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    max-width: 100vw;
    margin: 0 auto;
}

.lastRow {
    display: flex;
    justify-content: center;
    gap: 8vw;
    width: 100%;
    margin-top: 20vh;
}

.leaderCard,
.staffCard {
    background-color: #08070d;
    border-radius: 10px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    border: 2px solid #ffffff;
    padding-top: 13vh; 
    max-width: 400px;
    margin-top: 15vh;
}

.staffCard {
    background-color: #131219;
    margin-top: 20vh;
}

.leaderImage {
    width: 22vw;
    height: 22vw;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
    position: absolute;
    top: -33%;
    left: 50%;
    transform: translateX(-50%);
}

.leaderInfo {
    padding-top: 17vh;
    text-align: center;
    position: relative;
    top: -25%;
}

.leaderInfo h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.leaderTitle {
    font-size: 1rem;
    color: #A4DDB6;
    margin-bottom: 15px;
}

.leaderInfo ul,
.leaderDescription {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.leaderDescriptionItem {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.leaderDescriptionItem::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
}

.social .icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.social .icons a img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.social .icons a:hover img {
    filter: none;
}

.contactSection {
    display: flex;
    background-color: #131219;
    color: white;
    padding: 50px;
    gap: 50px;
    padding-top: 10vh;
}

.contactInfo,
.contactForm {
    flex: 1;
}

.contactInfo h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contactInfo > p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contactItem img {
    width: 24px;
    height: 24px;
}

.contactForm h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactForm input,
.contactForm textarea {
    padding: 10px;
    background-color: #2C2C2C;
    border: none;
    color: white;
}

.contactForm textarea {
    height: 100px;
    resize: vertical;
}

.recaptcha {
    background-color: #2C2C2C;
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.contactForm button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

.contactForm button:hover {
    background-color: #444;
}

@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        align-items: flex-start; 
    }

    .valueGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .heroContent h1 {
        padding-top: 12vh;
        font-size: 40px;
    }

    .heroContent p {
        max-width: 90vw;
        font-size: 35px;
    }

    .vision p,
    .mission p {
        font-size: 1.2rem;
    }

    .promise h2 {
        font-size: 2.5rem;
    }

    .promise p {
        font-size: 1.2rem;
    }

    .brandName {
        font-size: 1.5rem;
    }

    .content h1 {         
        position: relative;
        top: auto; 
        left: auto; 
    }

    .content p {
        font-size: 1.2em; 
    }

    .founder {
        flex-direction: column;
        padding: 20px;
    }

    .founderImage {
        margin-right: 0;
        margin-bottom: 20px;
        flex: 0 0 100%;
    }

    .leadershipSection,
    .staffSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .leadershipSection h2, .staffSection h2{
        margin-bottom: 0;
    }

    .leaderInfo{
        padding-top: 0;
    }


    .leadershipGrid,
    .lastRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }



    .staffGrid {
        grid-template-columns: 1fr;
    }

    .link {
        font-size: 12px;
    }

    .leaderCard,
    .staffCard {
        margin-top: 18vh;
    }

    .lastRow {
        padding-top: 0;
        margin-top: 0;
    }

    .leaderImage {
        padding-bottom: 5vh;
        width: 30vw;
        height: 32vw;
        object-fit: cover;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .about-container {
        padding: 0;
    }

    .valueGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .values p,
    .textContent {
        max-width: 90vw;
    }

    .heroContent h1 {
        margin-top: 10vh;
        font-size: 7.5vw;
        max-width: 100vw;
    }

    .heroContent p{
        font-size: 5vw;
    }

    .promise {
        left: 0;
        max-width: 100vw;
    }

    .lastRow{
        margin-top: 0;
    }

    .leadershipSection,
    .staffSection {
        overflow-x: hidden;
        max-width: 100vw;
        padding-left: 3.3vw;
    }

    .leadershipSection h2, .staffSection h2{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .staffSection{
        padding-bottom: 10vh;
    }

    .leaderCard,
    .staffCard {
        max-width: 90vw;
    }


    .leaderImage {
        width: 50vw;
        height: 62vw;
        top: -25%;
    }
    .leaderInfo{
        padding-top: 0;
        top: -15%;
    }

    .contactSection {
        flex-direction: column;
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .heroContent h1{
        font-size: 40px;
    }
    .heroContent p{
        font-size: 20px;
    }
    .valueGrid {
        grid-template-columns: 1fr;
    }

    .vision,
    .mission {
        flex-direction: column;
    }
    .leadershipSection, .staffSection{
        padding-left: 0;
    }
    .leaderImage {
        width: 50vw;
        height: 52vw;
        top: -15%;
    }
}
