.header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
    180deg,
    rgba(11, 53, 70, 0.08) 17.75%,
    rgba(11, 53, 70, 0.747169) 51.39%,
    rgba(11, 53, 70, 0.862047) 71.15%,
    #0b3546 88.52%
  ); */
  /* padding: 10px 5%;
  background-color: white; */
  background-image: url('/img/category/category_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 531px;
  /* overflow: hidden; */
  /* position: relative; */
  /* font-family: Roboto, sans-serif; */
}
.overlay {
  background: linear-gradient(
    180deg, 
    rgba(11, 53, 70, 0.08) 17.75%,
    rgba(11, 53, 70, 0.747169) 51.39%,
    rgba(11, 53, 70, 0.862047) 71.15%,
    #0b3546 88.52%
  );
}
/* 
.header::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: inherit;
  background-repeat: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: 1;
} */

.logo {
  background-image: url('/img/logohyracap.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 30px;
  position: relative;
  background-color: transparent;
}

.logoButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.logo2 {
  background-image: url('/img/Rectangle 6164.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 10%;
}

.link {
  margin-right: 5px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #28a745;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 3%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
  /* background-image: url('/path-to-your-background-image.jpg'); */
  /* background-size: cover;
    background-position: center;*/
  color: white;
  padding: 80px 0;
  text-align: left;
  z-index: 2;
}

.hero::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: inherit;
  background-repeat: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 2;
}
.heroContent {
  margin: 0 auto;
  padding: 0 20px;
}

.heroContent h1 {
  max-width: 30vw;
  font-family:
    Noto Sans,
    sans-serif;
  font-size: 3rem;
  /* margin-bottom: 20px; */
}

.heroContent p {
  line-height: 1.5;
  max-width: 38vw;
  font-family:
    Noto Sans,
    sans-serif;
  font-size: 2rem;
  /* margin-bottom: 30px; */
}

.container {
  display: flex;
  padding: 20px;
  /* background: linear-gradient(180deg, #f6f8f2 0%, #9EE5B5 100%) ; */
}

.filterSection {
  width: 25%;
  padding-right: 20px;
}

.searchBar {
  /* background: linear-gradient(180deg, #f1fddf 0%, #9EE5B5 100%); */
  padding: 3% 2%;
  margin-top: 3%;
  margin-bottom: 2%;
}
.searchBar .h2 {
  font-family: Roboto, serif;
  margin-left: 0%;
  font-weight: 700;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  padding: 10px;
}
.searchBar input {
  width: 60%;
  margin-right: 5%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #90eb8b;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filterGroup {
  margin-bottom: 20px;
}

.filterGroup h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filterGroup label {
  display: block;
  margin-bottom: 5px;
}

.projectSection {
  width: 75%;
  background-color: #fff;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sectionSubtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.projectGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 600px; /* Đặt chiều cao cố định cho container, điều chỉnh nếu cần */
}

.projectCards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.projectCard {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.projectImage {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
}

.projectName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
}

.projectInfo {
  padding: 0 1rem 1rem;
}

.amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 0.5rem;
}

.progress {
  background-color: #e0e0e0;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.progressBar {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
}

.fundingInfo {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.category {
  font-size: 0.8rem;
  color: #666;
}

.moreProjectsButton {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.moreProjectsButton:hover {
  background-color: #000000;
  color: #ffffff;
}
