.downloadSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5%;
  background-color: #f8f8ff;
}

.content {
  flex: 1;
  max-width: 50%;
}

.title {
  text-align: center;
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #666;
  margin-bottom: 2rem;
}

.qrCode {
  /* margin-bottom: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.storeButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.downloadOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.storeButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #1a2b49;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.storeButton:hover {
  background-color: #2c3e50;
}

.phoneImages {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.phoneImage {
  max-width: 300px;
  height: auto;
}

@media (max-width: 1024px) {
  .downloadSection {
    flex-direction: column;
    text-align: center;
  }

  .content {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .storeButtons {
    justify-content: center;
  }

  .phoneImages {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .phoneImages {
    flex-direction: column;
    align-items: center;
  }

  .phoneImage {
    max-width: 250px;
  }
}
