.footer {
    margin-top: 3%;
    background-color: #f0f0f0;
    color: #000000;
    padding: 2.5rem;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1.25rem;
    border-bottom: 1px solid #666;
    padding-bottom: 1.25rem;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.footerSection h4 {
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
    color: #000000;
}

.footerSection ul {
    list-style: none;
    padding: 0;
}

.footerSection ul li {
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
}

.footerLogo {
    max-width: 9.375rem;
    margin-bottom: 1.25rem;
}

.footerBottom {
    margin-top: 1.25rem;
    padding: 0 1.25rem; /* Thêm padding để tránh nội dung sát lề màn hình */
}

.footerBottomContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.625rem;
}

.footerBottomLeft {
    font-size: 0.875rem;
    text-align: left;
    display: flex;
    flex-direction: row; /* Sắp xếp các phần tử theo chiều dọc */
    align-items: flex-start; /* Căn chỉnh các phần tử về bên trái */
}

.footerBottomRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerBottomRight p {
    margin-right: 0.9375rem;
    font-size: 0.875rem;
}

.socialIcons {
    display: flex;
    align-items: center;
}

.socialIcons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: 0 0.3125rem;
    border-radius: 50%;
    background-color: #2669c6;
    color: #ffffff;
    transition: all 0.3s ease;
}

.socialIcons a:hover {
    background-color: #333333;
    transform: translateY(-3px);
}

.socialIcons a svg {
    width: 1rem;
    height: 1rem;
}


.footerCertifications {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}

.footerCertifications img {
    max-height: 1.875rem;
    margin: 0 0.3125rem;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }

    .footerSection h4 {
        font-size: 1rem;
    }

    .footerSection ul li {
        font-size: 0.75rem;
    }

    .footerBottomLeft,
    .footerBottomRight p {
        font-size: 0.75rem;
    }

    .socialIcons a {
        width: 1.75rem;
        height: 1.75rem;
    }

    .socialIcons a svg {
        width: 0.875rem;
        height: 0.875rem;
    }

    .footerCertifications img {
        max-height: 1.5625rem;
    }
}

@media (max-width: 480px) {
    .content {
        grid-template-columns: 1fr;
    }

    .footer {
        padding: 1.5rem;
    }
    .socialIcons {
        margin-top: 0.625rem;
    }
}