.newsSection {
  /* background-color: #FFFFFF; */
  background-size: cover;
  padding: 40px 120px;
  border-radius: 10px;
  color: #04141A;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.newsLink {
    text-decoration: none;
    color: inherit; 
}

.title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.newsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* height: 100vh; Đảm bảo chiều cao của container là 100% chiều cao màn hình */
    align-items: center;
}

.mainNews {
    flex: 1.5;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.mainNewsLink {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.mainImage {
    width: 80%;
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;  
}

.newsTitle {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: bold;
    margin: 0;
    max-width: 80%;
}
.newsTitle:hover {
    color: #48b96d;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: white;
}



.sideNews {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.sideBorder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsItem {
    display: flex;
    text-decoration: none;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E8EC;
}

.newsImage {
  width: 50%;
  max-width: 233px;
  height: auto;
  border-radius: 10px;
  margin-right: 15px; 
  aspect-ratio: 1/1;
  object-fit: cover;
}

.newsContent {
    display: flex;
    flex-direction: row; /* Đảm bảo hiển thị ngang hàng */
    justify-content: space-between; /* Căn chỉnh khoảng cách giữa ảnh và tiêu đề */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng */
}

.newsContent h2 {
    font-family: Inter, sans-serif;
    font-size: clamp(1.2rem, 1vw, 1.8rem);
    font-weight: bold;
    margin: 0;
}

.readMore {
    color: #39d400;
    font-size: 0.9rem;
    font-weight: bold;
}

.date {
    font-size: 0.8rem;
    color: #ccc;
    padding: 10px;
}

.moreButton {
    display: block;
    margin: 30px auto 0;
    padding: 15px 30px;
    background-color: #48b96d;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.moreButton:hover {
    background-color: #3da05e;
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem; /* Giảm kích thước font cho tiêu đề */
    }

  .moreButton {
    padding: 10px 20px; /* Giảm padding cho nút */
    font-size: 0.9rem; /* Giảm kích thước font cho nút */
  }
  .newsImage {
    width: 100%; 

    /* margin-right: 0; 
    margin-bottom: 10px;  */
  }
}

@media (max-width: 768px) {
    .newsSection {
        padding: 20px; /* Giảm padding cho màn hình nhỏ hơn */
    }

    .title {
        font-size: 1.5rem; /* Giảm kích thước font cho tiêu đề */
    }

    .mainImage {
        border-radius: 5px; /* Giảm độ bo góc cho hình ảnh */
    }

    /* .newsImage {
        width: 100%; 
        margin-right: 0; 
        margin-bottom: 10px; 
    } */

    .newsContent {
        flex-direction: column; /* Đặt nội dung thành cột */
        align-items: flex-start; /* Căn trái nội dung */
    }

    .readMore {
        font-size: 0.8rem; /* Giảm kích thước font cho nút "Tìm hiểu thêm" */
    }
}

@media (max-width: 1200px) {
    .sideBorder{
        align-items: center;
        
    }
    .newsSection {
        padding: 30px; /* Giảm padding cho màn hình nhỏ hơn */
    }

    .title {
        font-size: 1.8rem; /* Giảm kích thước font cho tiêu đề */
    }

  .newsImage {
    width: 100%; 
    margin: 0;
    /* margin-right: 0; 
    margin-bottom: 10px;  */
  }
  .mainNews {
    flex: 1; 
  }

    .sideNews {
        flex: 1; 
    }
}
