.container {
  margin: 0;
  padding: 0;
  position: relative;
}

.section {
  position: relative;
  text-align: center;
  color: white;
}

.section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
}

.text-overlay h1 {
  font-size: 64px;
  font-weight: bold;
  color: #2a6e3b;
}

.text-overlay p {
  font-size: 24px;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rightFrameAnimate {
  animation: slideInRight 2s ease forwards;
}
