.container {
  margin: 0;
  padding: 0;
}

.section {
  position: relative;
  text-align: center;
  color: white;
}

.section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
}

.text-overlay h1 {
  font-size: 64px;
  font-weight: bold;
  color: #2a6e3b;
}

.text-overlay p {
  font-size: 24px;
}
