.pressSection {
  /* padding: 2rem 3%; */
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: bold;
  margin-bottom: 1rem;
}

.logoContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;

  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  aspect-ratio: 2 / 1;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .logoContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .logoWrapper {
    padding: 0.5rem;
  }
}
