.projectSection {
    padding: 2rem 3%;
    background-color: #f5f5f5;  
    margin-top: 3%;
  }
  
  .sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .sectionSubtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .projectGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: 600px; /* Đặt chiều cao cố định cho container, điều chỉnh nếu cần */
  }
  
  .projectCard {
    flex: 1 1 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mainProject {
    flex: 1 1 calc(66.666% - 1rem);
    max-width: calc(66.666% - 1rem);
    height: 100%; /* Chiều cao 100% của container */
  }
  
  .smallProjects {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    gap: 1rem;
    height: 100%; /* Chiều cao 100% của container */
  }
  
  .smallProject {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .projectCard img,
  .smallProject img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .showcaseSection {
    margin-top: 3%;
    /* padding: 2rem 5%; */
    background-color: #f5f5f5;
    text-align: center;
    width: 100%;
    overflow: hidden;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .imageContainer {
    width: 100vw;
    background-size: contain;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .showcaseImage {
    width: 100%;
    height: auto;
    display: block;
  }
  
  @media (max-width: 768px) {
    .projectGrid {
      height: auto;
    }
  
    .projectCard,
    .mainProject,
    .smallProjects {
      flex: 1 1 100%;
      max-width: 100%;
      height: auto;
    }
  
    .smallProject {
      height: 200px; /* Đặt chiều cao cố định cho các project nhỏ trên mobile */
    }

    .title {
        font-size: 1.5rem;
      }
    
      .subtitle {
        font-size: 0.9rem;
      }
  }