.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
    background-image: url('/img/unsplash__jKl9WwXHIU.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: clamp(25vh, 30vw, 50vh);
    position: relative;
}

.logo {
    background-image: url('/img/logohyracap.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
    position: relative;
    background-color: transparent;
}

.logo2 {
    background-image: url('/img/Rectangle 6164.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 10%;

}

.len_icon {
    background-image: url('/img/Co-Vietnam.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 33px;
}

.link {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease;

}

.link:hover {
    color: #28a745;
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 3%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    .link {
        font-size: 12px;
    }
    .header{
        min-height: 216px;
    }
}


@media (max-width: 480px) {
    .header{
        min-height: 216px;
    }
    .link {
        font-size: 10px;
    }
}

.reportsBG{
    background-color: rgba(250, 250, 250, 1);
}

.reportTitle {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000; /* Màu chữ */
    font-family: Noto Sans, sans-serif;
    padding-top: 10px;
}



.reports {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.tabs button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    color: #000;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}


.tabs button:hover, .tabs .active {
    border-bottom: 2px solid #000;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Hai cột */
    gap: 20px;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}

.card {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
}

.card p .dateIcon {
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.viewBtn, .downloadBtn {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.viewBtn:hover, .downloadBtn:hover {
    background-color: #f5f5f5;
    border-color: #bbb;
}

.downloadBtn {
    background-color: #0d924b;
    color: white;
}

.downloadBtn:hover {
    background-color: #0c7e43;
}

.loadMoreBtn {
    position: relative;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.loadMoreBtn:hover {
    background-color: #f5f5f5;
}




