.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
    background-image: url('/img/productbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: inherit;
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }

.logo {
    background-image: url('/img/logohyracap.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
    position: relative;
    background-color: transparent;
}

.logoButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }





.link {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease;

}

.link:hover {
    color: #28a745;
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 3%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.hero {
    /* background-image: url('/path-to-your-background-image.jpg'); */
    /* background-size: cover;
    background-position: center;*/
    color: white;
    padding: 80px 0;
    text-align: left; 
  }
  
.hero::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: inherit;
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}
  .heroContent {
    
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .heroContent h1 {
    max-width: 30vw;
    font-family: Noto Sans, sans-serif;
    font-size: 3rem;
    /* margin-bottom: 20px; */
  }
  
  .heroContent p {
    line-height: 1.5;
    max-width: 38vw;
    font-family: Noto Sans, sans-serif;
    font-size: 2rem;
    /* margin-bottom: 30px; */
  }
  
  .ctaButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color: #45a049;
  }

  .appFeatures {
    background-color: #f5f5f5;
    padding: 60px 20px;
    text-align: center;
  }
  
  .appFeatures h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .appFeatures > p {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: Noto Sans, sans-serif;
  }
  
  .featuresContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    
  }
  
  .featuresList {
    margin-left: 4%;
    max-width: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .feature {
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .feature h3 {
    margin-bottom: 0;
    font-family: Noto Sans, sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    /* margin: 10px 0; */
  }
  
  .feature p {
    font-family: Noto Sans, sans-serif;
    font-size: 1.2rem;
    color: #666;
  }
  
  .appPreview {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .circleBackground {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #39ca3d; /* Màu xanh lá cây, bạn có thể điều chỉnh */
    border-radius: 50%;
    opacity: 0.5; /* Điều chỉnh độ trong suốt */
    z-index: 0;
  }

  .circleBackground::before,
  .circleBackground::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    height: 102%;
    /* background-color: #39ca3d;
     */
     border: 2px dashed #4CAF50;
     border-radius: 50%;
  }

  .circleBackground::after {
    width: 110%;
    height: 110%;
  }
  
  .phoneFrame {
    width: 300px;
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  /* .phoneFrame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 20px;
    background-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
  } */
  
  .appScreenshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .investmentProducts {
    margin-top: 3%;
    padding: 60px 20px;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  .investmentProducts h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .investmentProducts > p {
    font-size: 2.2rem;
    margin-bottom: 40px;
  }
  
  .productContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .productCard {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .iconContainer {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
  }
  
  .circleOuter {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(76, 175, 80, 0.4);
    border-radius: 50%;
    z-index: 1;
  }
  
  .circleInner {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-color: rgba(76, 175, 80, 0.9);
    border-radius: 50%;
    z-index: 1;
  }
  
  .icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  
  .productCard h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .productCard > p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .productDetails {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .productDetails div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .highlight {
    color: #4CAF50;
    font-weight: bold;
  }
  
  .registerButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .registerButton:hover {
    background-color: #45a049;
  }

  
  .flexContainer {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #f5f5f5;
  }

  .registerForm {
    min-height: 100vh;
    flex: 0 0 50%;
    background: linear-gradient(180deg, #7ACC95 0%, #2A7082 100%);
    padding: 30px;
    border-radius: 10px;
    color: white;
  }
  
  .registerForm h2 {
    font-size: clamp(2rem, 0.1rem , 3rem);
    margin-bottom: 20px;
    text-align: center;
  }

  .registerForm p {
    font-size: clamp(1.5rem, 0.1rem , 3rem);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .countdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .timeBox {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeBox span:first-child {
    font-size: clamp(2rem, 0.1rem , 3rem);
    font-weight: bold;
  }


  
  .registerForm input {
    width: 100%;
    padding: 3%; /* Tăng padding */
    margin-bottom: 3%; /* Tăng margin-bottom */
    border: none;
    border-radius: 5px;
    font-size: clamp(1rem, 0.1rem , 2rem); /* Tăng kích thước font */
    /* gap:5%; */
  }
  
  .registerButton {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .appPreviewContainer {
    min-height: 100vh;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px dashed #ccc; */
    padding: 2% 1%;
    border-radius: 10px;
    position: relative;
  }






  .appPreviewFrame {
    position: relative;
    width: 45vw;
    min-height: 80vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .appPreviewFrame h2 {
    font-size: clamp(1.5rem, 0.1rem , 2rem);
    /* margin-bottom: 20px; */
    text-align: center;
    align-items: center;
    position: relative;
    top: 1.5%;

    padding: 0 10px;
  }

  .appPreviewFrame::before {
    content: '';
    position: absolute;
    top: 1vw;
    left: 1vw;
    right: 1vw;
    bottom: 1vw;
    border: 2px solid #4CAF50; /* Màu xanh lá cây, bạn có thể điều chỉnh */
    border-radius: 10px;
    z-index: 1;
  }


  .appScreenshotFirst,
  .appScreenshotSecond {

    height: auto;
    object-fit: cover;
    object-position: top;
    position: absolute;
  
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); */
  }

  .appScreenshotFirst {
    max-width: 40%;
    top: 10%;
    left: 13%;
    z-index: 1;
  }
  
  .appScreenshotSecond {
    max-width: 45%;
    top: 15%;
    right: 13%;
    z-index: 2;
  }

  .appStoreButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  .storeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .storeButton img {
    height: 24px;
    margin-right: 10px;
  }


  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .registerForm, .appPreview {
      max-width: 100%;
      margin-bottom: 30px;
      margin-left: 0; /* Loại bỏ margin-left trên mobile */
    }
  
    .appPreviewSecond {
      position: static;
      width: 80%;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .productCard {
      width: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .featuresContainer {
      flex-direction: column;
    }
  
    .featuresList {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .feature {
      width: calc(50% - 20px);
    }
  
    .appPreview {
      margin: 40px 0;
    }
  }
  
  @media (max-width: 768px) {
    .feature {
      width: 100%;
    }
  }



@media (max-width: 768px) {
    .link {
        font-size: 12px;
    }
}


@media (max-width: 480px) {
    .link {
        font-size: 10px;
    }
}





