/* .newsContent p {
  width: 100%;
  background-color: '#000';
  display: flex;
  justify-content: center;
  text-align: left;
}
.newsContent h2 {
  width: 100%;
  background-color: '#000';
}

.newsContent img {
  width: 100%;
  border-radius: 10px;
  padding: 10px 0px;
}

.newsContent p span {
  width: 100%;
  text-align: center;
} */
